html {
  height: 100%;
  background: radial-gradient(circle, #0a0e12 0%, #090a0f 100%);
}

#stars,
#stars2,
#stars3 {
  border-radius: 50%;
  filter: blur(0.5px);
  animation: animStar 50s linear infinite;
}

#stars::after,
#stars2::after,
#stars3::after {
  border-radius: 50%;
  filter: blur(0.5px);
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1602px 661px #fff, 1779px 795px #fff, 1154px 812px #fff,
    1328px 800px #ff5733, 1262px 1251px #33ff57, 1976px 432px #3357ff,
    1650px 1853px #ff33a1, 1001px 468px #a133ff, 609px 405px #33fff5,
    1842px 1576px #f5ff33, 742px 1365px #ff5733, 321px 1286px #33ff57,
    462px 926px #3357ff, 481px 458px #ff33a1, 484px 1952px #a133ff,
    380px 1267px #33fff5, 1122px 820px #f5ff33, 1626px 1217px #ff5733,
    1953px 1255px #33ff57, 1728px 140px #3357ff, 1430px 1262px #ff33a1,
    7px 463px #a133ff, 1664px 338px #33fff5, 63px 11px #f5ff33,
    552px 438px #ff5733, 3px 783px #33ff57, 1247px 361px #3357ff,
    803px 121px #ff33a1, 755px 1435px #a133ff, 659px 1572px #33fff5,
    462px 256px #f5ff33, 654px 1979px #ff5733, 1747px 1521px #33ff57,
    1222px 1922px #3357ff, 1615px 1672px #ff33a1, 980px 918px #a133ff,
    1477px 1509px #33fff5, 1311px 365px #f5ff33, 286px 1255px #ff5733,
    897px 1108px #33ff57, 770px 330px #3357ff, 337px 598px #ff33a1,
    1192px 711px #a133ff, 1656px 1284px #33fff5, 1808px 543px #f5ff33,
    1099px 608px #ff5733, 1215px 157px #33ff57, 1670px 748px #3357ff,
    110px 734px #ff33a1, 1513px 1678px #a133ff, 137px 1969px #33fff5,
    242px 1029px #f5ff33, 670px 606px #ff5733, 1173px 1915px #33ff57,
    1730px 1946px #3357ff, 1617px 1395px #ff33a1, 294px 1214px #a133ff,
    942px 1551px #33fff5, 327px 885px #f5ff33, 1961px 128px #ff5733,
    314px 333px #33ff57, 845px 1457px #3357ff, 1293px 408px #ff33a1,
    1058px 582px #a133ff, 1981px 1771px #33fff5, 1473px 311px #f5ff33,
    1227px 955px #ff5733, 1937px 1262px #33ff57, 754px 624px #3357ff,
    266px 619px #ff33a1, 182px 1621px #a133ff, 29px 802px #33fff5,
    1075px 298px #f5ff33, 1986px 1900px #ff5733, 1770px 447px #33ff57,
    1291px 57px #3357ff, 782px 1535px #ff33a1, 1312px 111px #a133ff,
    1194px 651px #33fff5, 899px 193px #f5ff33, 282px 163px #ff5733,
    1341px 998px #33ff57, 379px 1540px #3357ff, 406px 1584px #ff33a1,
    1227px 223px #a133ff, 1525px 402px #33fff5, 66px 1842px #f5ff33,
    1531px 1873px #ff5733, 1303px 376px #33ff57, 1949px 1797px #3357ff,
    1093px 1018px #ff33a1, 937px 886px #a133ff, 1954px 1675px #33fff5,
    1957px 304px #f5ff33, 74px 400px #ff5733, 556px 1123px #33ff57,
    1659px 1330px #3357ff, 1110px 916px #ff33a1, 503px 271px #a133ff,
    1574px 1851px #33fff5, 436px 1833px #f5ff33, 175px 1150px #ff5733,
    43px 1691px #33ff57, 1758px 1857px #3357ff, 413px 257px #ff33a1,
    596px 336px #a133ff, 1608px 338px #33fff5, 333px 108px #f5ff33,
    794px 1318px #ff5733, 1150px 73px #33ff57, 891px 1149px #3357ff,
    1614px 387px #ff33a1, 1930px 1770px #a133ff, 465px 591px #33fff5,
    394px 472px #f5ff33, 438px 1877px #ff5733, 537px 1345px #33ff57,
    583px 470px #3357ff, 1493px 1112px #ff33a1, 1437px 1380px #a133ff,
    494px 1304px #33fff5, 17px 1388px #f5ff33, 1001px 1558px #ff5733,
    10px 978px #33ff57, 25px 1053px #3357ff, 732px 576px #ff33a1,
    1169px 297px #a133ff, 915px 1519px #33fff5, 280px 1149px #f5ff33,
    1430px 761px #ff5733, 45px 208px #33ff57, 1790px 1104px #3357ff,
    953px 296px #ff33a1, 1480px 733px #a133ff, 1024px 1171px #ff5733,
    1473px 1335px #33ff57, 631px 329px #3357ff, 1498px 1792px #ff33a1,
    385px 1825px #a133ff, 483px 781px #33fff5, 1888px 85px #f5ff33,
    1659px 715px #ff5733, 192px 177px #33ff57, 275px 1243px #3357ff,
    1203px 1087px #ff33a1, 412px 857px #a133ff, 1302px 1270px #33fff5,
    787px 389px #f5ff33, 751px 1838px #ff5733, 1381px 1377px #33ff57,
    196px 878px #3357ff, 134px 277px #ff33a1, 145px 549px #a133ff,
    1957px 1961px #33fff5, 1120px 1050px #f5ff33, 1354px 972px #ff5733,
    1158px 1771px #33ff57, 47px 352px #3357ff, 1112px 584px #ff33a1,
    164px 1386px #a133ff, 1273px 1782px #33fff5, 110px 780px #f5ff33,
    502px 299px #ff5733, 1768px 933px #33ff57, 886px 1287px #3357ff,
    1309px 1130px #ff33a1, 847px 776px #a133ff, 1713px 269px #33fff5,
    1718px 795px #f5ff33, 1984px 717px #ff5733, 985px 341px #33ff57,
    1462px 1078px #3357ff, 1702px 1461px #ff33a1, 167px 1873px #a133ff,
    862px 1117px #33fff5, 1968px 932px #f5ff33, 814px 91px #ff5733,
    1530px 607px #33ff57, 1799px 1571px #3357ff, 1868px 1734px #ff33a1,
    1800px 1137px #a133ff, 52px 178px #33fff5, 901px 853px #f5ff33,
    1181px 1232px #ff5733, 209px 650px #33ff57, 1165px 1321px #3357ff,
    1046px 159px #ff33a1, 578px 1748px #a133ff, 18px 337px #33fff5,
    70px 1062px #f5ff33, 1670px 270px #ff5733, 1828px 1321px #33ff57,
    1817px 336px #3357ff, 124px 1935px #ff33a1, 1840px 594px #a133ff,
    836px 1194px #33fff5, 1292px 1801px #f5ff33, 1547px 945px #ff5733,
    500px 1563px #33ff57, 569px 376px #3357ff, 1107px 1627px #ff33a1,
    662px 717px #a133ff, 1352px 762px #33fff5, 771px 1694px #f5ff33,
    1529px 484px #ff5733, 1609px 798px #33ff57, 652px 627px #3357ff,
    498px 20px #ff33a1, 1308px 164px #a133ff, 245px 1239px #33fff5,
    1131px 860px #f5ff33, 1028px 333px #ff5733, 765px 1760px #33ff57,
    1627px 684px #3357ff, 70px 1586px #ff33a1, 63px 1230px #a133ff,
    1727px 465px #33fff5, 1946px 1862px #f5ff33, 169px 956px #ff5733,
    121px 1826px #33ff57, 1615px 725px #3357ff, 1225px 1925px #ff33a1,
    1678px 323px #a133ff, 606px 371px #33fff5, 616px 985px #f5ff33,
    490px 1898px #ff5733, 516px 1019px #33ff57, 878px 1448px #3357ff,
    1533px 98px #ff33a1, 625px 1152px #a133ff, 224px 522px #33fff5,
    215px 245px #f5ff33, 153px 669px #ff5733, 1530px 1652px #33ff57,
    1796px 1697px #3357ff, 908px 1456px #ff33a1, 1326px 1947px #a133ff,
    1294px 872px #33fff5, 806px 1296px #f5ff33, 783px 556px #ff5733,
    1075px 973px #33ff57, 613px 505px #3357ff, 1160px 833px #ff33a1,
    1053px 1793px #a133ff, 1343px 1990px #33fff5, 937px 254px #f5ff33,
    1084px 234px #ff5733, 575px 374px #33ff57, 367px 1656px #3357ff,
    494px 510px #ff33a1, 1403px 1242px #a133ff, 1827px 1741px #33fff5,
    1239px 616px #f5ff33, 579px 1670px #ff5733, 971px 836px #33ff57,
    1025px 813px #3357ff, 707px 1407px #ff33a1, 188px 1777px #a133ff,
    1576px 18px #33fff5, 1px 533px #f5ff33, 1123px 589px #ff5733,
    88px 705px #33ff57, 1844px 679px #ff5733, 121px 350px #33ff57,
    1853px 470px #3357ff, 1333px 263px #ff33a1, 1702px 957px #a133ff,
    475px 725px #33fff5, 1650px 75px #f5ff33, 1372px 11px #ff5733,
    714px 353px #33ff57, 968px 461px #3357ff, 1413px 1400px #ff33a1,
    1856px 1724px #a133ff, 793px 1524px #33fff5, 1717px 962px #f5ff33,
    1263px 1567px #ff5733, 1621px 1961px #33ff57, 537px 243px #3357ff,
    912px 1140px #ff33a1, 659px 1300px #a133ff, 113px 516px #33fff5,
    1111px 1738px #f5ff33, 336px 953px #ff5733, 1038px 248px #33ff57,
    692px 935px #3357ff, 516px 1451px #ff33a1, 1057px 401px #a133ff,
    1014px 388px #33fff5, 1363px 1764px #f5ff33, 855px 745px #ff5733,
    57px 767px #33ff57, 779px 1263px #3357ff, 1746px 1797px #ff33a1,
    1975px 848px #a133ff, 1051px 941px #33fff5, 79px 1146px #f5ff33,
    1945px 1015px #ff5733, 1506px 1855px #33ff57, 955px 730px #3357ff,
    27px 1865px #ff33a1, 1378px 1691px #a133ff, 969px 1738px #33fff5,
    206px 842px #f5ff33, 1068px 91px #ff5733, 1466px 1725px #33ff57,
    533px 1091px #3357ff, 1205px 748px #ff33a1, 324px 398px #a133ff,
    1417px 1048px #33fff5, 349px 1827px #f5ff33, 730px 1048px #ff5733,
    1671px 690px #33ff57, 1441px 1068px #3357ff, 251px 925px #ff33a1,
    144px 1631px #a133ff, 108px 1524px #33fff5, 187px 1172px #f5ff33,
    183px 403px #ff5733, 907px 1873px #33ff57, 973px 104px #3357ff,
    65px 1390px #ff33a1, 372px 1486px #a133ff, 424px 765px #33fff5,
    1410px 350px #f5ff33, 760px 827px #ff5733, 1179px 612px #33ff57,
    251px 1106px #3357ff, 657px 851px #ff33a1, 63px 925px #a133ff,
    1272px 1791px #33fff5, 1361px 1189px #f5ff33, 778px 1101px #ff5733,
    817px 1436px #33ff57, 1884px 1440px #3357ff, 1662px 1781px #ff33a1,
    276px 990px #a133ff, 1835px 1617px #33fff5, 1516px 246px #f5ff33,
    544px 1792px #ff5733, 667px 1652px #33ff57, 1142px 1221px #3357ff,
    1417px 38px #ff33a1, 33px 1467px #a133ff, 1087px 1608px #33fff5,
    1406px 1323px #f5ff33, 440px 1564px #ff5733, 1697px 758px #33ff57,
    743px 340px #3357ff, 1244px 218px #ff33a1, 1382px 1783px #a133ff,
    539px 1285px #33fff5, 273px 592px #f5ff33, 1268px 444px #ff5733,
    1302px 70px #33ff57, 989px 478px #3357ff, 1044px 1477px #ff33a1,
    395px 803px #a133ff, 1609px 1799px #33fff5, 999px 100px #f5ff33,
    1444px 2000px #ff5733, 1966px 1675px #33ff57, 51px 822px #3357ff,
    1387px 825px #ff33a1, 983px 440px #a133ff, 1269px 624px #33fff5,
    1303px 1455px #f5ff33, 666px 313px #ff5733, 1776px 132px #33ff57,
    1041px 1523px #3357ff, 168px 1599px #ff33a1, 1714px 604px #a133ff,
    657px 594px #33fff5, 1301px 1318px #f5ff33, 961px 541px #ff5733,
    310px 422px #33ff57, 636px 1847px #3357ff, 814px 1005px #ff33a1,
    444px 1093px #a133ff, 583px 1551px #33fff5, 1746px 1807px #f5ff33,
    1550px 1359px #ff5733, 283px 1837px #33ff57, 1257px 1772px #3357ff,
    1620px 1691px #ff33a1, 727px 1180px #a133ff, 798px 1744px #33fff5,
    754px 1707px #f5ff33, 1871px 189px #ff5733, 1355px 1000px #33ff57,
    1839px 599px #3357ff, 7px 1689px #ff33a1, 775px 966px #a133ff,
    231px 1980px #33fff5, 1231px 717px #f5ff33, 1748px 1658px #ff5733,
    385px 1352px #33ff57, 1168px 182px #3357ff, 576px 997px #ff33a1,
    1955px 279px #a133ff, 314px 1162px #33fff5, 626px 1525px #f5ff33,
    1372px 597px #ff5733, 168px 809px #33ff57, 1559px 1646px #3357ff,
    1316px 600px #ff33a1, 1903px 1615px #a133ff, 1899px 173px #33fff5,
    1936px 1042px #f5ff33, 977px 180px #ff5733, 80px 1132px #33ff57,
    1258px 287px #3357ff, 1944px 1624px #ff33a1, 1710px 1271px #a133ff,
    859px 315px #33fff5, 658px 601px #f5ff33, 444px 516px #ff5733,
    1443px 70px #33ff57, 61px 1468px #3357ff, 67px 338px #ff33a1,
    1888px 711px #a133ff, 1838px 1848px #33fff5, 1252px 774px #f5ff33,
    1986px 1392px #ff5733, 1734px 213px #33ff57, 1904px 76px #3357ff,
    1503px 1882px #ff33a1, 268px 113px #a133ff, 1124px 387px #33fff5,
    565px 1591px #f5ff33, 446px 1116px #ff5733, 1861px 661px #33ff57,
    55px 1090px #3357ff, 328px 837px #ff33a1, 775px 85px #a133ff,
    436px 632px #33fff5, 1704px 904px #f5ff33, 406px 1068px #ff5733,
    1077px 719px #33ff57, 125px 722px #3357ff, 1735px 174px #ff33a1,
    1541px 1590px #a133ff, 1883px 498px #33fff5, 733px 1195px #f5ff33,
    1178px 1793px #ff5733, 254px 719px #33ff57, 1790px 545px #3357ff,
    799px 454px #ff33a1, 1076px 1737px #a133ff, 360px 95px #33fff5,
    516px 1367px #f5ff33, 1016px 493px #ff5733, 1340px 15px #33ff57,
    1843px 355px #3357ff, 416px 1857px #ff33a1, 1745px 1967px #a133ff,
    1768px 1266px #33fff5, 778px 1437px #f5ff33, 1892px 1480px #ff5733,
    1861px 1700px #33ff57, 1973px 832px #3357ff, 132px 1773px #ff33a1,
    1928px 1974px #a133ff, 470px 1852px #33fff5, 1855px 463px #f5ff33,
    892px 1018px #ff5733, 374px 1670px #33ff57, 140px 391px #3357ff,
    1868px 1945px #ff33a1, 505px 1988px #a133ff, 1798px 1514px #33fff5,
    134px 873px #f5ff33, 1319px 1278px #ff5733, 1796px 1403px #33ff57,
    1400px 503px #3357ff, 480px 1004px #ff33a1, 53px 434px #a133ff,
    1075px 507px #33fff5, 1376px 13px #f5ff33, 150px 623px #ff5733,
    563px 1355px #33ff57, 1464px 858px #3357ff, 1123px 967px #ff33a1,
    1273px 1412px #a133ff, 1378px 1689px #33fff5, 1390px 1248px #f5ff33,
    273px 191px #ff5733, 471px 46px #33ff57, 1520px 780px #3357ff,
    830px 530px #ff33a1, 1369px 1915px #a133ff, 434px 1541px #33fff5,
    1658px 753px #f5ff33, 1955px 1908px #ff5733, 409px 1106px #33ff57,
    1609px 597px #3357ff, 637px 1671px #ff33a1, 1957px 475px #a133ff,
    1595px 1496px #33fff5, 1979px 1958px #f5ff33, 1364px 1658px #fff,
    929px 425px #fff, 1197px 967px #fff, 82px 1164px #fff, 310px 176px #fff,
    1242px 1822px #fff, 1081px 484px #fff, 1436px 1211px #fff, 992px 1826px #fff,
    1801px 714px #fff, 1034px 16px #fff, 1241px 145px #fff, 1815px 811px #fff,
    517px 111px #fff, 512px 1871px #fff, 185px 1024px #fff, 869px 1606px #fff,
    904px 1418px #fff, 271px 807px #fff, 1627px 1971px #fff, 1048px 200px #fff,
    1543px 152px #fff, 1559px 924px #fff, 1205px 1281px #fff, 1073px 697px #fff,
    1614px 426px #fff, 1064px 1329px #fff, 1963px 1252px #fff, 444px 992px #fff,
    553px 1688px #fff, 298px 578px #fff, 772px 636px #fff, 1755px 1446px #fff,
    1503px 450px #fff, 504px 135px #fff, 1714px 314px #fff, 447px 1165px #fff,
    1903px 1258px #fff, 1916px 434px #fff, 1468px 1851px #fff, 631px 244px #fff,
    201px 1060px #fff, 88px 340px #fff, 342px 1039px #fff, 699px 488px #fff,
    1284px 1794px #fff, 1458px 759px #fff, 1335px 1629px #fff,
    1367px 1363px #fff, 185px 235px #fff, 76px 1315px #fff, 1528px 198px #fff,
    471px 1165px #fff, 1160px 1077px #fff, 79px 473px #fff, 114px 654px #fff,
    1400px 722px #fff, 829px 1532px #fff, 448px 941px #fff, 627px 1987px #fff,
    820px 919px #fff, 1506px 217px #fff, 1946px 1562px #fff, 142px 1489px #fff,
    793px 602px #fff, 441px 91px #fff, 259px 453px #fff, 1538px 1732px #fff,
    1498px 1501px #fff, 656px 805px #fff, 1808px 1178px #fff, 1954px 890px #fff,
    656px 1605px #fff, 1177px 350px #fff, 666px 992px #fff, 1486px 305px #fff,
    661px 1647px #fff, 1209px 1168px #fff, 1499px 1450px #fff, 554px 98px #fff,
    744px 1047px #fff, 2px 524px #fff, 383px 1086px #fff, 1822px 244px #fff,
    1704px 1714px #fff, 797px 1527px #fff, 1916px 1610px #fff, 1865px 860px #fff,
    1567px 1823px #fff, 1340px 273px #fff, 1133px 168px #fff, 557px 1978px #fff,
    1419px 1724px #fff, 668px 538px #fff, 1411px 1026px #fff, 1194px 1431px #fff,
    267px 1899px #fff, 556px 950px #fff, 1847px 1514px #fff, 255px 131px #fff,
    442px 441px #fff, 1089px 1011px #fff, 1931px 1781px #fff, 187px 119px #fff,
    1317px 1797px #fff, 15px 971px #fff, 1542px 618px #fff, 594px 1216px #fff,
    523px 1980px #fff, 682px 1977px #fff, 1840px 1934px #fff, 73px 1975px #fff,
    192px 37px #fff, 1796px 1491px #fff, 237px 418px #fff, 635px 1936px #fff,
    735px 421px #fff, 1785px 1564px #fff, 85px 1401px #fff, 288px 1436px #fff,
    972px 1682px #fff, 986px 206px #fff, 730px 1225px #fff, 569px 557px #fff,
    1805px 1898px #fff, 488px 1963px #fff, 877px 997px #fff, 545px 1029px #fff,
    1725px 1017px #fff, 1320px 1855px #fff, 1220px 409px #fff, 1911px 453px #fff,
    784px 636px #fff, 570px 862px #fff, 1009px 7px #fff, 432px 1640px #fff,
    1941px 1197px #fff, 422px 994px #fff, 465px 1879px #fff, 918px 200px #fff,
    1978px 1313px #fff, 520px 954px #fff, 1270px 1594px #fff, 1087px 578px #fff,
    1597px 58px #fff, 1782px 550px #fff, 274px 204px #fff, 1743px 1662px #fff,
    441px 1338px #fff, 545px 1844px #fff, 1702px 894px #fff, 1760px 1426px #fff,
    795px 1068px #fff, 1076px 373px #fff, 1666px 1594px #fff, 1490px 1257px #fff,
    7px 1967px #fff, 357px 1354px #fff, 1740px 1071px #fff, 1876px 1981px #fff,
    421px 1758px #fff, 750px 1071px #fff, 963px 266px #fff, 918px 1422px #fff,
    811px 463px #fff, 1084px 1186px #fff, 950px 1852px #fff, 709px 916px #fff,
    37px 1612px #fff, 777px 747px #fff, 749px 1663px #fff, 1036px 600px #fff,
    1951px 1697px #fff, 1208px 1139px #fff, 549px 400px #fff, 1144px 584px #fff,
    1466px 1315px #fff, 131px 826px #fff, 172px 1097px #fff, 253px 97px #fff,
    197px 422px #fff, 792px 25px #fff, 957px 1632px #fff, 1209px 889px #fff,
    826px 638px #fff, 1464px 1137px #fff, 1189px 2px #fff, 1737px 1514px #fff,
    142px 954px #fff, 1831px 544px #fff, 1008px 779px #fff, 1889px 257px #fff,
    1006px 1085px #fff, 428px 1043px #fff, 1915px 1585px #fff, 232px 1935px #fff,
    767px 706px #fff, 431px 334px #fff, 897px 15px #fff, 705px 146px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1602px 661px #ff5733, 1779px 795px #33ff57, 1154px 812px #3357ff,
    1328px 800px #ff33a1, 1262px 1251px #a133ff, 1976px 432px #33fff5,
    1650px 1853px #f5ff33, 1001px 468px #ff5733, 609px 405px #33ff57,
    1842px 1576px #3357ff, 742px 1365px #ff33a1, 321px 1286px #a133ff,
    462px 926px #33fff5, 481px 458px #f5ff33, 484px 1952px #ff5733,
    380px 1267px #33ff57, 1122px 820px #3357ff, 1626px 1217px #ff33a1,
    1953px 1255px #a133ff, 1728px 140px #33fff5, 1430px 1262px #f5ff33,
    7px 463px #ff5733, 1664px 338px #33ff57, 63px 11px #3357ff,
    552px 438px #ff33a1, 3px 783px #a133ff, 1247px 361px #33fff5,
    803px 121px #f5ff33, 755px 1435px #ff5733, 659px 1572px #33ff57,
    462px 256px #3357ff, 654px 1979px #ff33a1, 1747px 1521px #a133ff,
    1222px 1922px #33fff5, 1615px 1672px #f5ff33, 980px 918px #ff5733,
    1477px 1509px #33ff57, 1311px 365px #3357ff, 286px 1255px #ff33a1,
    897px 1108px #a133ff, 770px 330px #33fff5, 337px 598px #f5ff33,
    1192px 711px #ff5733, 1656px 1284px #33ff57, 1808px 543px #3357ff,
    1099px 608px #ff33a1, 1215px 157px #a133ff, 1670px 748px #33fff5,
    110px 734px #f5ff33, 1513px 1678px #ff5733, 137px 1969px #33ff57,
    242px 1029px #3357ff, 670px 606px #ff33a1, 1173px 1915px #a133ff,
    1730px 1946px #33fff5, 1617px 1395px #f5ff33, 294px 1214px #ff5733,
    942px 1551px #33ff57, 327px 885px #3357ff, 1961px 128px #ff33a1,
    314px 333px #a133ff, 845px 1457px #33fff5, 1293px 408px #f5ff33,
    1058px 582px #ff5733, 1981px 1771px #33ff57, 1473px 311px #3357ff,
    1227px 955px #ff33a1, 1937px 1262px #a133ff, 754px 624px #33fff5,
    266px 619px #f5ff33, 182px 1621px #ff5733, 29px 802px #33ff57,
    1075px 298px #3357ff, 1986px 1900px #ff33a1, 1770px 447px #a133ff,
    1291px 57px #33fff5, 782px 1535px #f5ff33, 1312px 111px #ff5733,
    1194px 651px #33ff57, 899px 193px #3357ff, 282px 163px #ff33a1,
    1341px 998px #a133ff, 379px 1540px #33fff5, 406px 1584px #f5ff33,
    1227px 223px #ff5733, 1525px 402px #33ff57, 66px 1842px #3357ff,
    1531px 1873px #ff33a1, 1303px 376px #a133ff, 1949px 1797px #33fff5,
    1093px 1018px #f5ff33, 937px 886px #ff5733, 1954px 1675px #33ff57,
    1957px 304px #3357ff, 74px 400px #ff33a1, 556px 1123px #a133ff,
    1659px 1330px #33fff5, 1110px 916px #f5ff33, 503px 271px #ff5733,
    1574px 1851px #33ff57, 436px 1833px #3357ff, 175px 1150px #ff33a1,
    43px 1691px #a133ff, 1758px 1857px #33fff5, 413px 257px #f5ff33,
    596px 336px #ff5733, 1608px 338px #33ff57, 333px 108px #3357ff,
    794px 1318px #ff33a1, 1150px 73px #a133ff, 891px 1149px #33fff5,
    1614px 387px #f5ff33, 1930px 1770px #ff5733, 465px 591px #33ff57,
    394px 472px #3357ff, 438px 1877px #ff33a1, 537px 1345px #a133ff,
    583px 470px #33fff5, 1493px 1112px #f5ff33, 1437px 1380px #ff5733,
    494px 1304px #33ff57, 17px 1388px #3357ff, 1001px 1558px #ff33a1,
    10px 978px #a133ff, 25px 1053px #33fff5, 732px 576px #f5ff33,
    1169px 297px #ff5733, 915px 1519px #33ff57, 280px 1149px #3357ff,
    1430px 761px #ff33a1, 45px 208px #a133ff, 1790px 1104px #33fff5,
    953px 296px #f5ff33, 1480px 733px #ff5733, 1024px 1171px #33ff57,
    1473px 1335px #3357ff, 631px 329px #ff33a1, 1498px 1792px #a133ff,
    385px 1825px #33fff5, 483px 781px #f5ff33, 1888px 85px #ff5733,
    1659px 715px #33ff57, 192px 177px #3357ff, 275px 1243px #ff33a1,
    1203px 1087px #a133ff, 412px 857px #33fff5, 1302px 1270px #f5ff33,
    787px 389px #ff5733, 751px 1838px #33ff57, 1381px 1377px #3357ff,
    196px 878px #ff33a1, 134px 277px #a133ff, 145px 549px #33fff5,
    1957px 1961px #f5ff33, 1120px 1050px #ff5733, 1354px 972px #33ff57,
    1158px 1771px #3357ff, 47px 352px #ff33a1, 1112px 584px #a133ff,
    164px 1386px #33fff5, 1273px 1782px #f5ff33, 110px 780px #ff5733,
    502px 299px #33ff57, 1768px 933px #3357ff, 886px 1287px #ff33a1,
    1309px 1130px #a133ff, 847px 776px #33fff5, 1713px 269px #f5ff33,
    1718px 795px #ff5733, 1984px 717px #33ff57, 985px 341px #3357ff,
    1462px 1078px #ff33a1, 1702px 1461px #a133ff, 167px 1873px #33fff5,
    862px 1117px #f5ff33, 1968px 932px #ff5733, 814px 91px #33ff57,
    1530px 607px #3357ff, 1799px 1571px #ff33a1, 1868px 1734px #a133ff,
    1800px 1137px #33fff5, 52px 178px #f5ff33, 901px 853px #ff5733,
    1181px 1232px #33ff57, 209px 650px #3357ff, 1165px 1321px #ff33a1,
    1046px 159px #a133ff, 578px 1748px #33fff5, 18px 337px #f5ff33,
    70px 1062px #ff5733, 1670px 270px #33ff57, 1828px 1321px #3357ff,
    1817px 336px #ff33a1, 124px 1935px #a133ff, 1840px 594px #33fff5,
    836px 1194px #f5ff33, 1292px 1801px #ff5733, 1547px 945px #33ff57,
    500px 1563px #3357ff, 569px 376px #ff33a1, 1107px 1627px #a133ff,
    662px 717px #33fff5, 1352px 762px #f5ff33, 771px 1694px #ff5733,
    1529px 484px #33ff57, 1609px 798px #3357ff, 652px 627px #ff33a1,
    498px 20px #a133ff, 1308px 164px #33fff5, 245px 1239px #f5ff33,
    1131px 860px #ff5733, 1028px 333px #33ff57, 765px 1760px #3357ff,
    1627px 684px #ff33a1, 70px 1586px #a133ff, 63px 1230px #33fff5,
    1727px 465px #f5ff33, 1946px 1862px #ff5733, 855px 745px #ff5733,
    57px 767px #33ff57, 779px 1263px #3357ff, 1746px 1797px #ff33a1,
    1975px 848px #a133ff, 1051px 941px #33fff5, 79px 1146px #f5ff33,
    1945px 1015px #ff5733, 1506px 1855px #33ff57, 955px 730px #3357ff,
    27px 1865px #ff33a1, 1378px 1691px #a133ff, 969px 1738px #33fff5,
    206px 842px #f5ff33, 1068px 91px #ff5733, 1466px 1725px #33ff57,
    533px 1091px #3357ff, 1205px 748px #ff33a1, 324px 398px #a133ff,
    1417px 1048px #33fff5, 349px 1827px #f5ff33, 730px 1048px #ff5733,
    1671px 690px #33ff57, 1441px 1068px #3357ff, 251px 925px #ff33a1,
    144px 1631px #a133ff, 108px 1524px #33fff5, 187px 1172px #f5ff33,
    183px 403px #ff5733, 907px 1873px #33ff57, 973px 104px #3357ff,
    65px 1390px #ff33a1, 372px 1486px #a133ff, 424px 765px #33fff5,
    1410px 350px #f5ff33, 760px 827px #ff5733, 1179px 612px #33ff57,
    251px 1106px #3357ff, 657px 851px #ff33a1, 63px 925px #a133ff,
    1272px 1791px #33fff5, 1361px 1189px #f5ff33, 778px 1101px #ff5733,
    817px 1436px #33ff57, 1884px 1440px #3357ff, 1662px 1781px #ff33a1,
    276px 990px #a133ff, 1835px 1617px #33fff5, 1516px 246px #f5ff33,
    544px 1792px #ff5733, 667px 1652px #33ff57, 1142px 1221px #3357ff,
    1417px 38px #ff33a1, 33px 1467px #a133ff, 1087px 1608px #33fff5,
    1406px 1323px #f5ff33, 440px 1564px #ff5733, 1697px 758px #33ff57,
    743px 340px #3357ff, 1244px 218px #ff33a1, 1382px 1783px #a133ff,
    539px 1285px #33fff5, 273px 592px #f5ff33, 1268px 444px #ff5733,
    1302px 70px #33ff57, 989px 478px #3357ff, 1044px 1477px #ff33a1,
    395px 803px #a133ff, 1609px 1799px #33fff5, 999px 100px #f5ff33,
    1444px 2000px #ff5733, 1966px 1675px #33ff57, 51px 822px #3357ff,
    1387px 825px #ff33a1, 983px 440px #a133ff, 1269px 624px #33fff5,
    1303px 1455px #f5ff33, 666px 313px #ff5733, 1776px 132px #33ff57,
    1041px 1523px #3357ff, 168px 1599px #ff33a1, 1714px 604px #a133ff,
    657px 594px #33fff5, 1301px 1318px #f5ff33, 961px 541px #ff5733,
    310px 422px #33ff57, 636px 1847px #3357ff, 814px 1005px #ff33a1,
    444px 1093px #a133ff, 583px 1551px #33fff5, 1746px 1807px #f5ff33,
    1550px 1359px #ff5733, 283px 1837px #33ff57, 1257px 1772px #3357ff,
    1620px 1691px #ff33a1, 727px 1180px #a133ff, 798px 1744px #33fff5,
    754px 1707px #f5ff33, 1871px 189px #ff5733, 1355px 1000px #33ff57,
    1839px 599px #3357ff, 7px 1689px #ff33a1, 775px 966px #a133ff,
    231px 1980px #33fff5, 1231px 717px #ff5733, 1748px 1658px #33ff57,
    385px 1352px #3357ff, 1168px 182px #ff33a1, 576px 997px #a133ff,
    1955px 279px #33fff5, 314px 1162px #f5ff33, 626px 1525px #ff5733,
    1372px 597px #33ff57, 168px 809px #3357ff, 1559px 1646px #ff33a1,
    1316px 600px #a133ff, 1903px 1615px #33fff5, 1899px 173px #f5ff33,
    1936px 1042px #ff5733, 977px 180px #33ff57, 80px 1132px #3357ff,
    1258px 287px #ff33a1, 1944px 1624px #a133ff, 1710px 1271px #33fff5,
    859px 315px #f5ff33, 658px 601px #ff5733, 444px 516px #33ff57,
    1443px 70px #3357ff, 61px 1468px #ff33a1, 67px 338px #a133ff,
    1888px 711px #33fff5, 1838px 1848px #f5ff33, 1252px 774px #ff5733,
    1986px 1392px #33ff57, 1734px 213px #3357ff, 1904px 76px #ff33a1,
    1503px 1882px #a133ff, 268px 113px #33fff5, 1124px 387px #f5ff33,
    565px 1591px #ff5733, 446px 1116px #33ff57, 1861px 661px #3357ff,
    55px 1090px #ff33a1, 328px 837px #a133ff, 775px 85px #33fff5,
    436px 632px #f5ff33, 1704px 904px #ff5733, 406px 1068px #33ff57,
    1077px 719px #3357ff, 125px 722px #ff33a1, 1735px 174px #a133ff,
    1541px 1590px #33fff5, 1883px 498px #f5ff33, 733px 1195px #ff5733,
    1178px 1793px #33ff57, 254px 719px #3357ff, 1790px 545px #ff33a1,
    799px 454px #a133ff, 1076px 1737px #33fff5, 360px 95px #f5ff33,
    516px 1367px #ff5733, 1016px 493px #33ff57, 1340px 15px #3357ff,
    1843px 355px #ff33a1, 416px 1857px #a133ff, 1745px 1967px #33fff5,
    1768px 1266px #f5ff33, 778px 1437px #ff5733, 1892px 1480px #33ff57,
    1861px 1700px #3357ff, 1973px 832px #ff33a1, 132px 1773px #a133ff,
    1928px 1974px #33fff5, 470px 1852px #f5ff33, 1855px 463px #ff5733,
    892px 1018px #33ff57, 374px 1670px #3357ff, 140px 391px #ff33a1,
    1868px 1945px #a133ff, 505px 1988px #33fff5, 1798px 1514px #f5ff33,
    134px 873px #ff5733, 1319px 1278px #33ff57, 1796px 1403px #3357ff,
    1400px 503px #ff33a1, 480px 1004px #a133ff, 53px 434px #33fff5,
    1075px 507px #f5ff33, 1376px 13px #ff5733, 150px 623px #33ff57,
    563px 1355px #3357ff, 1464px 858px #ff33a1, 1123px 967px #a133ff,
    1273px 1412px #33fff5, 1378px 1689px #f5ff33, 1390px 1248px #ff5733,
    273px 191px #33ff57, 471px 46px #3357ff, 1520px 780px #ff33a1,
    830px 530px #a133ff, 1369px 1915px #33fff5, 434px 1541px #f5ff33,
    1658px 753px #ff5733, 1955px 1908px #33ff57, 409px 1106px #3357ff,
    1609px 597px #ff33a1, 637px 1671px #a133ff, 1957px 475px #33fff5,
    1595px 1496px #f5ff33, 1979px 1958px #ff5733, 1364px 1658px #fff,
    929px 425px #fff, 1197px 967px #fff, 82px 1164px #fff, 310px 176px #fff,
    1242px 1822px #fff, 1081px 484px #fff, 1436px 1211px #fff, 992px 1826px #fff,
    1801px 714px #fff, 1034px 16px #fff, 1241px 145px #fff, 1815px 811px #fff,
    517px 111px #fff, 512px 1871px #fff, 185px 1024px #fff, 869px 1606px #fff,
    904px 1418px #fff, 271px 807px #fff, 1627px 1971px #fff, 1048px 200px #fff,
    1543px 152px #fff, 1559px 924px #fff, 1205px 1281px #fff, 1073px 697px #fff,
    1614px 426px #fff, 1064px 1329px #fff, 1963px 1252px #fff, 444px 992px #fff,
    553px 1688px #fff, 298px 578px #fff, 772px 636px #fff, 1755px 1446px #fff,
    1503px 450px #fff, 504px 135px #fff, 1714px 314px #fff, 447px 1165px #fff,
    1903px 1258px #fff, 1916px 434px #fff, 1468px 1851px #fff, 631px 244px #fff,
    201px 1060px #fff, 88px 340px #fff, 342px 1039px #fff, 699px 488px #fff,
    1284px 1794px #fff, 1458px 759px #fff, 1335px 1629px #fff,
    1367px 1363px #fff, 185px 235px #fff, 76px 1315px #fff, 1528px 198px #fff,
    471px 1165px #fff, 1160px 1077px #fff, 79px 473px #fff, 114px 654px #fff,
    1400px 722px #fff, 829px 1532px #fff, 448px 941px #fff, 627px 1987px #fff,
    820px 919px #fff, 1506px 217px #fff, 1946px 1562px #fff, 142px 1489px #fff,
    793px 602px #fff, 441px 91px #fff, 259px 453px #fff, 1538px 1732px #fff,
    1498px 1501px #fff, 656px 805px #fff, 1808px 1178px #fff, 1954px 890px #fff,
    656px 1605px #fff, 1177px 350px #fff, 666px 992px #fff, 1486px 305px #fff,
    661px 1647px #fff, 1209px 1168px #fff, 1499px 1450px #fff, 554px 98px #fff,
    744px 1047px #fff, 2px 524px #fff, 383px 1086px #fff, 1822px 244px #fff,
    1704px 1714px #fff, 797px 1527px #fff, 1916px 1610px #fff, 1865px 860px #fff,
    1567px 1823px #fff, 1340px 273px #fff, 1133px 168px #fff, 557px 1978px #fff,
    1419px 1724px #fff, 668px 538px #fff, 1411px 1026px #fff, 1194px 1431px #fff,
    267px 1899px #fff, 556px 950px #fff, 1847px 1514px #fff, 255px 131px #fff,
    442px 441px #fff, 1089px 1011px #fff, 1931px 1781px #fff, 187px 119px #fff,
    1317px 1797px #fff, 15px 971px #fff, 1542px 618px #fff, 594px 1216px #fff,
    523px 1980px #fff, 682px 1977px #fff, 1840px 1934px #fff, 73px 1975px #fff,
    192px 37px #fff, 1796px 1491px #fff, 237px 418px #fff, 635px 1936px #fff,
    735px 421px #fff, 1785px 1564px #fff, 85px 1401px #fff, 288px 1436px #fff,
    972px 1682px #fff, 986px 206px #fff, 730px 1225px #fff, 569px 557px #fff,
    1805px 1898px #fff, 488px 1963px #fff, 877px 997px #fff, 545px 1029px #fff,
    1725px 1017px #fff, 1320px 1855px #fff, 1220px 409px #fff, 1911px 453px #fff,
    784px 636px #fff, 570px 862px #fff, 1009px 7px #fff, 432px 1640px #fff,
    1941px 1197px #fff, 422px 994px #fff, 465px 1879px #fff, 918px 200px #fff,
    1978px 1313px #fff, 520px 954px #fff, 1270px 1594px #fff, 1087px 578px #fff,
    1597px 58px #fff, 1782px 550px #fff, 274px 204px #fff, 1743px 1662px #fff,
    441px 1338px #fff, 545px 1844px #fff, 1702px 894px #fff, 1760px 1426px #fff,
    795px 1068px #fff, 1076px 373px #fff, 1666px 1594px #fff, 1490px 1257px #fff,
    7px 1967px #fff, 357px 1354px #fff, 1740px 1071px #fff, 1876px 1981px #fff,
    421px 1758px #fff, 750px 1071px #fff, 963px 266px #fff, 918px 1422px #fff,
    811px 463px #fff, 1084px 1186px #fff, 950px 1852px #fff, 709px 916px #fff,
    37px 1612px #fff, 777px 747px #fff, 749px 1663px #fff, 1036px 600px #fff,
    1951px 1697px #fff, 1208px 1139px #fff, 549px 400px #fff, 1144px 584px #fff,
    1466px 1315px #fff, 131px 826px #fff, 172px 1097px #fff, 253px 97px #fff,
    197px 422px #fff, 792px 25px #fff, 957px 1632px #fff, 1209px 889px #fff,
    826px 638px #fff, 1464px 1137px #fff, 1189px 2px #fff, 1737px 1514px #fff,
    142px 954px #fff, 1831px 544px #fff, 1008px 779px #fff, 1889px 257px #fff,
    1006px 1085px #fff, 428px 1043px #fff, 1915px 1585px #fff, 232px 1935px #fff,
    767px 706px #fff, 431px 334px #fff, 897px 15px #fff, 705px 146px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 743px 879px #ff5733, 1145px 1260px #33ff57, 1412px 672px #3357ff,
    507px 1211px #ff33a1, 52px 89px #a133ff, 1045px 256px #33fff5,
    1022px 859px #f5ff33, 1520px 413px #ff5733, 1575px 604px #33ff57,
    992px 877px #3357ff, 914px 960px #ff33a1, 139px 685px #a133ff,
    720px 707px #33fff5, 1235px 945px #f5ff33, 1256px 1153px #ff5733,
    1223px 641px #33ff57, 1810px 466px #3357ff, 1011px 1248px #ff33a1,
    799px 1160px #a133ff, 770px 1135px #33fff5, 1000px 1841px #f5ff33,
    1733px 385px #ff5733, 1142px 610px #33ff57, 1047px 487px #3357ff,
    1268px 1604px #ff33a1, 1877px 835px #a133ff, 1003px 698px #33fff5,
    525px 714px #f5ff33, 703px 960px #ff5733, 267px 1336px #33ff57,
    1343px 133px #3357ff, 230px 731px #ff33a1, 1613px 1782px #a133ff,
    758px 1457px #33fff5, 1877px 1912px #f5ff33, 1155px 1320px #ff5733,
    719px 932px #33ff57, 746px 69px #3357ff, 1148px 186px #ff33a1,
    1642px 1323px #a133ff, 728px 1138px #33fff5, 815px 461px #f5ff33,
    1281px 137px #ff5733, 132px 1620px #33ff57, 685px 500px #3357ff,
    1067px 1439px #ff33a1, 101px 1941px #a133ff, 218px 857px #33fff5,
    181px 1464px #f5ff33, 1403px 769px #ff5733, 744px 815px #33ff57,
    1052px 553px #3357ff, 1447px 1035px #ff33a1, 814px 1090px #a133ff,
    1127px 1883px #33fff5, 689px 83px #f5ff33, 1067px 1753px #ff5733,
    1948px 34px #33ff57, 676px 1749px #3357ff, 830px 1875px #ff33a1,
    836px 512px #a133ff, 1847px 800px #33fff5, 920px 1950px #f5ff33,
    368px 71px #ff5733, 1773px 818px #33ff57, 215px 1460px #3357ff,
    1246px 1249px #ff33a1, 1078px 470px #a133ff, 401px 437px #33fff5,
    1711px 1570px #f5ff33, 1345px 506px #ff5733, 397px 571px #33ff57,
    1610px 1971px #3357ff, 1134px 1569px #ff33a1, 163px 322px #a133ff,
    1837px 371px #33fff5, 485px 424px #f5ff33, 488px 1287px #ff5733,
    747px 354px #33ff57, 944px 939px #3357ff, 505px 100px #ff33a1,
    470px 1438px #a133ff, 1222px 1874px #33fff5, 559px 316px #f5ff33,
    1188px 1154px #ff5733, 136px 11px #33ff57, 1213px 1280px #3357ff,
    335px 422px #ff33a1, 1849px 388px #a133ff, 181px 1449px #33fff5,
    1945px 1622px #f5ff33, 1609px 1373px #ff5733, 901px 922px #33ff57,
    1413px 520px #3357ff, 1526px 1563px #ff33a1, 1318px 1232px #a133ff,
    1623px 518px #33fff5, 664px 76px #f5ff33, 1692px 1963px #ff5733,
    1752px 1104px #33ff57, 1291px 1249px #3357ff, 369px 1823px #ff33a1,
    552px 1779px #a133ff, 1007px 634px #33fff5, 391px 1101px #f5ff33,
    1480px 1260px #ff5733, 1375px 251px #33ff57, 594px 1939px #3357ff,
    1832px 333px #ff33a1, 1233px 1790px #a133ff, 1802px 648px #33fff5,
    1934px 798px #f5ff33, 1781px 1814px #ff5733, 1849px 1544px #33ff57,
    568px 771px #3357ff, 527px 169px #ff33a1, 1094px 62px #a133ff,
    713px 1750px #33fff5, 290px 563px #f5ff33, 1704px 935px #ff5733,
    1207px 1612px #33ff57, 202px 1971px #3357ff, 1451px 355px #ff33a1,
    1749px 571px #a133ff, 1292px 1565px #33fff5, 1827px 1082px #f5ff33,
    22px 984px #ff5733, 1315px 1760px #33ff57, 1699px 1391px #3357ff,
    1793px 1715px #ff33a1, 1501px 49px #a133ff, 1480px 1502px #33fff5,
    1455px 1964px #f5ff33, 1787px 1539px #ff5733, 462px 883px #33ff57,
    84px 1082px #3357ff, 1589px 1414px #ff33a1, 121px 1323px #a133ff,
    788px 494px #33fff5, 109px 109px #f5ff33, 951px 1299px #ff5733,
    872px 1535px #33ff57, 1171px 806px #3357ff, 671px 598px #ff33a1,
    1767px 1069px #a133ff, 192px 1881px #33fff5, 1263px 171px #f5ff33,
    1532px 224px #ff5733, 664px 1191px #33ff57, 145px 686px #3357ff,
    638px 1744px #ff33a1, 1099px 332px #a133ff, 1119px 802px #33fff5,
    530px 1776px #f5ff33, 765px 1011px #ff5733, 1528px 1117px #33ff57,
    1375px 1170px #3357ff, 1454px 470px #ff33a1, 299px 558px #a133ff,
    960px 655px #33fff5, 1816px 1220px #f5ff33, 1165px 1486px #ff5733,
    260px 731px #33ff57, 548px 80px #3357ff, 1003px 1239px #ff33a1,
    1058px 230px #a133ff, 505px 1085px #33fff5, 140px 1772px #f5ff33,
    1439px 326px #ff5733, 1456px 778px #33ff57, 915px 1545px #3357ff,
    430px 1368px #ff33a1, 849px 587px #a133ff, 1231px 869px #33fff5,
    1662px 928px #f5ff33, 1903px 38px #ff5733, 1052px 1977px #33ff57,
    1935px 1481px #3357ff, 538px 1271px #ff33a1, 1511px 1304px #a133ff,
    1617px 1015px #33fff5, 489px 1088px #f5ff33, 996px 1039px #ff5733,
    201px 1878px #33ff57, 466px 1689px #3357ff, 1363px 862px #ff33a1,
    1374px 1714px #a133ff, 549px 787px #33fff5, 1669px 1043px #f5ff33,
    697px 1874px #ff5733, 1915px 1724px #33ff57, 1488px 1629px #3357ff,
    1545px 1875px #ff33a1, 978px 1201px #a133ff, 1126px 1916px #33fff5,
    412px 592px #f5ff33, 852px 732px #ff5733, 1060px 444px #33ff57,
    323px 1676px #3357ff, 1593px 1616px #ff33a1;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 743px 879px #ff5733, 1145px 1260px #33ff57, 1412px 672px #3357ff,
    507px 1211px #ff33a1, 52px 89px #a133ff, 1045px 256px #33fff5,
    1022px 859px #f5ff33, 1520px 413px #ff5733, 1575px 604px #33ff57,
    992px 877px #3357ff, 914px 960px #ff33a1, 139px 685px #a133ff,
    720px 707px #33fff5, 1235px 945px #f5ff33, 1256px 1153px #ff5733,
    1223px 641px #33ff57, 1810px 466px #3357ff, 1011px 1248px #ff33a1,
    799px 1160px #a133ff, 770px 1135px #33fff5, 1000px 1841px #f5ff33,
    1733px 385px #ff5733, 1142px 610px #33ff57, 1047px 487px #3357ff,
    1268px 1604px #ff33a1, 1877px 835px #a133ff, 1003px 698px #33fff5,
    525px 714px #f5ff33, 703px 960px #ff5733, 267px 1336px #33ff57,
    1343px 133px #3357ff, 230px 731px #ff33a1, 1613px 1782px #a133ff,
    758px 1457px #33fff5, 1877px 1912px #f5ff33, 1155px 1320px #ff5733,
    719px 932px #33ff57, 746px 69px #3357ff, 1148px 186px #ff33a1,
    1642px 1323px #a133ff, 728px 1138px #33fff5, 815px 461px #f5ff33,
    1281px 137px #ff5733, 132px 1620px #33ff57, 685px 500px #3357ff,
    1067px 1439px #ff33a1, 101px 1941px #a133ff, 218px 857px #33fff5,
    181px 1464px #f5ff33, 1403px 769px #ff5733, 744px 815px #33ff57,
    1052px 553px #3357ff, 1447px 1035px #ff33a1, 814px 1090px #a133ff,
    1127px 1883px #33fff5, 689px 83px #f5ff33, 1067px 1753px #ff5733,
    1948px 34px #33ff57, 676px 1749px #3357ff, 830px 1875px #ff33a1,
    836px 512px #a133ff, 1847px 800px #33fff5, 920px 1950px #f5ff33,
    368px 71px #ff5733, 1773px 818px #33ff57, 215px 1460px #3357ff,
    1246px 1249px #ff33a1, 1078px 470px #a133ff, 401px 437px #33fff5,
    1711px 1570px #f5ff33, 1345px 506px #ff5733, 397px 571px #33ff57,
    1610px 1971px #3357ff, 1134px 1569px #ff33a1, 163px 322px #a133ff,
    1837px 371px #33fff5, 485px 424px #f5ff33, 488px 1287px #ff5733,
    747px 354px #33ff57, 944px 939px #3357ff, 505px 100px #ff33a1,
    470px 1438px #a133ff, 1222px 1874px #33fff5, 559px 316px #f5ff33,
    1188px 1154px #ff5733, 136px 11px #33ff57, 1213px 1280px #3357ff,
    335px 422px #ff33a1, 1849px 388px #a133ff, 181px 1449px #33fff5,
    1945px 1622px #f5ff33, 1609px 1373px #ff5733, 901px 922px #33ff57,
    1413px 520px #3357ff, 1526px 1563px #ff33a1, 1318px 1232px #a133ff,
    1623px 518px #33fff5, 664px 76px #f5ff33, 1692px 1963px #ff5733,
    1752px 1104px #33ff57, 1291px 1249px #3357ff, 369px 1823px #ff33a1,
    552px 1779px #a133ff, 1007px 634px #33fff5, 391px 1101px #f5ff33,
    1480px 1260px #ff5733, 1375px 251px #33ff57, 594px 1939px #3357ff,
    1832px 333px #ff33a1, 1233px 1790px #a133ff, 1802px 648px #33fff5,
    1934px 798px #f5ff33, 1781px 1814px #ff5733, 1849px 1544px #33ff57,
    568px 771px #3357ff, 527px 169px #ff33a1, 1094px 62px #a133ff,
    713px 1750px #33fff5, 290px 563px #f5ff33, 1704px 935px #ff5733,
    1207px 1612px #33ff57, 202px 1971px #3357ff, 1451px 355px #ff33a1,
    1749px 571px #a133ff, 1292px 1565px #33fff5, 1827px 1082px #f5ff33,
    22px 984px #ff5733, 1315px 1760px #33ff57, 1699px 1391px #3357ff,
    1793px 1715px #ff33a1, 1501px 49px #a133ff, 1480px 1502px #33fff5,
    1455px 1964px #f5ff33, 1787px 1539px #ff5733, 462px 883px #33ff57,
    84px 1082px #3357ff, 1589px 1414px #ff33a1, 121px 1323px #a133ff,
    788px 494px #33fff5, 109px 109px #f5ff33, 951px 1299px #ff5733,
    872px 1535px #33ff57, 1171px 806px #3357ff, 671px 598px #ff33a1,
    1767px 1069px #a133ff, 192px 1881px #33fff5, 1263px 171px #f5ff33,
    1532px 224px #ff5733, 664px 1191px #33ff57, 145px 686px #3357ff,
    638px 1744px #ff33a1, 1099px 332px #a133ff, 1119px 802px #33fff5,
    530px 1776px #f5ff33, 765px 1011px #ff5733, 1528px 1117px #33ff57,
    1375px 1170px #3357ff, 1454px 470px #ff33a1, 299px 558px #a133ff,
    960px 655px #33fff5, 1816px 1220px #f5ff33, 1165px 1486px #ff5733,
    260px 731px #33ff57, 548px 80px #3357ff, 1003px 1239px #ff33a1,
    1058px 230px #a133ff, 505px 1085px #33fff5, 140px 1772px #f5ff33,
    1439px 326px #ff5733, 1456px 778px #33ff57, 915px 1545px #3357ff,
    430px 1368px #ff33a1, 849px 587px #a133ff, 1231px 869px #33fff5,
    1662px 928px #f5ff33, 1903px 38px #ff5733, 1052px 1977px #33ff57,
    1935px 1481px #3357ff, 538px 1271px #ff33a1, 1511px 1304px #a133ff,
    1617px 1015px #33fff5, 489px 1088px #f5ff33, 996px 1039px #ff5733,
    201px 1878px #33ff57, 466px 1689px #3357ff, 1363px 862px #ff33a1,
    1374px 1714px #a133ff, 549px 787px #33fff5, 1669px 1043px #f5ff33,
    697px 1874px #ff5733, 1915px 1724px #33ff57, 1488px 1629px #3357ff,
    1545px 1875px #ff33a1, 978px 1201px #a133ff, 1126px 1916px #33fff5,
    412px 592px #f5ff33, 852px 732px #ff5733, 1060px 444px #33ff57,
    323px 1676px #3357ff, 1593px 1616px #ff33a1;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1703px 1208px #ff5733, 381px 207px #33ff57, 1516px 1990px #3357ff,
    1960px 982px #ff33a1, 922px 1278px #a133ff, 689px 1766px #33fff5,
    538px 554px #f5ff33, 802px 1529px #ff5733, 871px 1805px #33ff57,
    228px 1830px #3357ff, 353px 186px #ff33a1, 1873px 1154px #a133ff,
    494px 1244px #33fff5, 1415px 261px #f5ff33, 1020px 1990px #ff5733,
    1924px 1169px #33ff57, 1205px 464px #3357ff, 596px 830px #ff33a1,
    1319px 504px #a133ff, 953px 1850px #33fff5, 408px 1360px #f5ff33,
    569px 1704px #ff5733, 1367px 729px #33ff57, 807px 1845px #3357ff,
    572px 825px #ff33a1, 523px 1089px #a133ff, 1405px 1622px #33fff5,
    1352px 423px #f5ff33, 1247px 1758px #ff5733, 1117px 920px #33ff57,
    983px 352px #3357ff, 175px 1351px #ff33a1, 962px 260px #a133ff,
    918px 1530px #33fff5, 1184px 935px #f5ff33, 201px 473px #ff5733,
    90px 1759px #33ff57, 211px 933px #3357ff, 1887px 171px #ff33a1,
    177px 101px #a133ff, 844px 346px #33fff5, 283px 1821px #f5ff33,
    1236px 1225px #ff5733, 173px 1875px #33ff57, 24px 1776px #3357ff,
    277px 804px #ff33a1, 1714px 715px #a133ff, 937px 1882px #33fff5,
    1708px 1405px #f5ff33, 173px 1847px #ff5733, 1902px 1160px #33ff57,
    1725px 1270px #3357ff, 36px 18px #ff33a1, 1612px 1467px #a133ff,
    1390px 1733px #33fff5, 927px 1315px #f5ff33, 1907px 1337px #ff5733,
    1855px 1454px #33ff57, 1033px 1425px #3357ff, 1450px 1359px #ff33a1,
    1422px 771px #a133ff, 256px 343px #33fff5, 1581px 340px #f5ff33,
    1180px 247px #ff5733, 191px 882px #33ff57, 372px 1171px #3357ff,
    1509px 937px #ff33a1, 1018px 1829px #a133ff, 121px 152px #33fff5,
    327px 767px #f5ff33, 1438px 1421px #ff5733, 321px 905px #33ff57,
    616px 245px #3357ff, 1957px 1520px #ff33a1, 1811px 1924px #a133ff,
    1454px 1778px #33fff5, 1507px 822px #f5ff33, 649px 218px #ff5733,
    362px 1567px #33ff57, 1637px 145px #3357ff, 115px 466px #ff33a1,
    345px 935px #a133ff, 112px 1019px #33fff5, 1440px 1910px #f5ff33,
    1280px 1367px #ff5733, 1505px 890px #33ff57, 788px 927px #3357ff,
    753px 1273px #ff33a1, 1924px 1714px #a133ff, 495px 1149px #33fff5,
    267px 1851px #f5ff33, 1293px 1431px #ff5733, 1159px 433px #33ff57,
    1725px 1170px #3357ff, 1067px 296px #ff33a1, 746px 463px #a133ff,
    412px 349px #33fff5, 1193px 1421px #f5ff33, 564px 455px #ff5733,
    1675px 589px #33ff57;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1703px 1208px #ff5733, 381px 207px #33ff57, 1516px 1990px #3357ff,
    1960px 982px #ff33a1, 922px 1278px #a133ff, 689px 1766px #33fff5,
    538px 554px #f5ff33, 802px 1529px #ff5733, 871px 1805px #33ff57,
    228px 1830px #3357ff, 353px 186px #ff33a1, 1873px 1154px #a133ff,
    494px 1244px #33fff5, 1415px 261px #f5ff33, 1020px 1990px #ff5733,
    1924px 1169px #33ff57, 1205px 464px #3357ff, 596px 830px #ff33a1,
    1319px 504px #a133ff, 953px 1850px #33fff5, 408px 1360px #f5ff33,
    569px 1704px #ff5733, 1367px 729px #33ff57, 807px 1845px #3357ff,
    572px 825px #ff33a1, 523px 1089px #a133ff, 1405px 1622px #33fff5,
    1352px 423px #f5ff33, 1247px 1758px #ff5733, 1117px 920px #33ff57,
    983px 352px #3357ff, 175px 1351px #ff33a1, 962px 260px #a133ff,
    918px 1530px #33fff5, 1184px 935px #f5ff33, 201px 473px #ff5733,
    90px 1759px #33ff57, 211px 933px #3357ff, 1887px 171px #ff33a1,
    177px 101px #a133ff, 844px 346px #33fff5, 283px 1821px #f5ff33,
    1236px 1225px #ff5733, 173px 1875px #33ff57, 24px 1776px #3357ff,
    277px 804px #ff33a1, 1714px 715px #a133ff, 937px 1882px #33fff5,
    1708px 1405px #f5ff33, 173px 1847px #ff5733, 1902px 1160px #33ff57,
    1725px 1270px #3357ff, 36px 18px #ff33a1, 1612px 1467px #a133ff,
    1390px 1733px #33fff5, 927px 1315px #f5ff33, 1907px 1337px #ff5733,
    1855px 1454px #33ff57, 1033px 1425px #3357ff, 1450px 1359px #ff33a1,
    1422px 771px #a133ff, 256px 343px #33fff5, 1581px 340px #f5ff33,
    1180px 247px #ff5733, 191px 882px #33ff57, 372px 1171px #3357ff,
    1509px 937px #ff33a1, 1018px 1829px #a133ff, 121px 152px #33fff5,
    327px 767px #f5ff33, 1438px 1421px #ff5733, 321px 905px #33ff57,
    616px 245px #3357ff, 1957px 1520px #ff33a1, 1811px 1924px #a133ff,
    1454px 1778px #33fff5, 1507px 822px #f5ff33, 649px 218px #ff5733,
    362px 1567px #33ff57, 1637px 145px #3357ff, 115px 466px #ff33a1,
    345px 935px #a133ff, 112px 1019px #33fff5, 1440px 1910px #f5ff33,
    1280px 1367px #ff5733, 1505px 890px #33ff57, 788px 927px #3357ff,
    753px 1273px #ff33a1, 1924px 1714px #a133ff, 495px 1149px #33fff5,
    267px 1851px #f5ff33, 1293px 1431px #ff5733, 1159px 433px #33ff57,
    1725px 1170px #3357ff, 1067px 296px #ff33a1, 746px 463px #a133ff,
    412px 349px #33fff5, 1193px 1421px #f5ff33, 564px 455px #ff5733,
    1675px 589px #33ff57;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
